{% extends 'base.html' %}{% load humanize %} {% block custom_css %}
<style type="text/css">
</style>
{% endblock %} {% block content %}
<div class="row-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-heading">
                                <strong>Customers</strong>
                            </div>
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Date Joined</th>
                                        <th>User Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                    <tr>
                                        <td>{{customer.id}}</td>
                                        <td>{{customer.first_name}}</td>
                                        <td>{{customer.last_name}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.date_joined}}</td>
                                        <td>{{customer.user_type}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 