{% extends 'base.html' %}{% load humanize %} {% block custom_css %}
<style type="text/css">
</style>
{% endblock %} {% block content %}
<div class="row-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Message</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in notifications %}
                                    <tr>
                                        <td>{{item.user.first_name}}</td>
                                        <td>{{item.user.last_name}}</td>
                                        <td>{{item.message}}</td>
                                        <td>{{item.created}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 