{% extends 'base.html' %}{% load humanize %} {% block custom_css %}
<style type="text/css">
</style>
{% endblock %} {% block content %}
<div class="row-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="frm-ask-offer">
                                <div class="form-group">
                                    <label for="amount">Amount</label>
                                    <input type="number" id="amount" class="form-control" id="amount" placeholder="Enter amount" required>
                                </div>
                                <div class="form-group">
                                    <label for="product">Select Product</label>
                                    <select type="product" id="product" class="form-control" id="product" placeholder="Product" required>
                                        <option></option>
                                        {% for product in products %}
                                        <option value="{{product.id}}">{{product.name}} with maximum {{product.max_allowable_limit}} at {{product.interest}}% for {{product.tenure}} days</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right btn-ask-offer">Ask for Offer</button>
                                    <small id="emailHelp" class="form-text text-muted">By requesting an offer, your account details will be shared e.g. names, email</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block custom_js %}
<script type="text/javascript">
$(document).ready(function() {

    $('#frm-ask-offer').on('submit', function(e) {
        e.preventDefault();

        let self = $(this);

        $.confirm({
            title: 'Asking for Offer',
            content: 'You are about to ask for an offer, are you sure you want to continue?',
            buttons: {
                cancel: function() {
                    //do nothing
                },
                okay: {
                    text: 'Yes',
                    action: function(e) {
                        $.confirm({
                            content: function() {
                                var btn = this;
                                return $.ajax({
                                    url: '/customers/ask-offer/',
                                    dataType: 'json',
                                    data: {
                                        "amount": $("#amount").val(),
                                        "product": $("#product").val(),
                                        "csrfmiddlewaretoken": "{{csrf_token}}"
                                    },
                                    method: 'post'
                                }).done(function(response) {
                                    if (response.status) {
                                        btn.setContent(response.message);
                                        btn.setTitle("Success");
                                        self.html('Offer awaiting approval. Click on dashboard for updates');
                                    } else {
                                        btn.setContent(response.message)
                                        btn.setTitle("Failed")
                                    }
                                }).fail(function(xhr, error, status) {
                                    console.log('error');
                                    // self.setContent(error);
                                });
                            }
                        });
                    }
                }
            }
        });

    });

});
</script>
{% endblock %}