{% extends 'base.html' %}{% load humanize %} {% block custom_css %}
<style type="text/css">
</style>
{% endblock %} {% block content %}
<div class="row-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-heading">
                                <strong>Summary</strong>: Make payments of KES {{balance|floatformat:"-2"|intcomma}} to clear your loans
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-heading">
                                <strong>Topups</strong>
                            </div>
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Amount</th>
                                        <th>Loan Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in accepted_offers %}
                                    <tr>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.offer_amount}}</td>
                                        <td>{{item.approved_date}}</td>
                                        <td>{{item.status}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-heading">
                                <strong>Payments</strong>
                            </div>
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Amount Paid</th>
                                        <th>Payment Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in payments %}
                                    <tr>
                                        <td>{{item.customer_offer.product.name}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.payment_date}}</td>
                                        <td>{{item.status}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}