<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lending</title>
    <meta name="description" content="description">
    <meta name="author" content="Lab System">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %} {% load in_group %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >

    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="{% static 'data-tables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'data-tables/css/buttons.dataTables.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.css" rel="stylesheet">
    <link href="{% static 'data-tables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="{% static 'custom/css/mystyle.css' %}" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-2">
                    <a href="/">Lending</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                        </div>
                        <div class="col-xs-4 col-sm-8 top-panel-right">
                            <ul class="nav navbar-nav pull-right panel-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                        <div class="avatar">
                                            <img src="{% static 'custom/img/avatar.png' %}" class="img-circle" alt="avatar" />
                                        </div>
                                        <i class="fa fa-angle-down pull-right"></i>
                                        <div class="user-mini pull-right">
                                            <span class="welcome">Welcome,</span>
                                            <span>{{ request.user.username }}</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/accounts/logout/">
                                                <i class="fa fa-power-off"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="/" class="ajax-lisnk">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="ajax-lisnk">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Dashboard</span>
                        </a>
                    </li>
                    {% ifequal request.user.user_type 'Admin' %}
                    <li>
                        <a href="/customers" class="ajax-lisnk">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Customers</span>
                        </a>
                    </li>
                    {% endifequal %}
                    {% ifequal request.user.user_type 'Customer' %}
                    <li>
                        <a href="/customer/wallet/" class="ajax-lisnk">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Wallet</span>
                        </a>
                    </li>
                    <li>
                        <a href="/customer/notifications/" class="ajax-lisnk">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Notifications</span>
                        </a>
                    </li>
                    {% endifequal %}
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div id="breadcrumb" class="col-xs-12">
                        <a href="#" class="show-sidebar" id="clicked_sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ol class="breadcrumb">
                            {% block breadcrumb %} {{ breadcrumb }} {% endblock %}
                        </ol>
                    </div>
                    {% block content %} {% endblock %} {% block fullwidth %} {% endblock %}
                    <div class="col-xs-6">
                        {% block two-columns-1 %} {% endblock %}
                    </div>
                    <div class="col-xs-6">
                        {% block two-columns-2 %} {% endblock %}
                    </div>
                    <div class="col-xs-4">
                        {% block three-columns-1 %} {% endblock %}
                    </div>
                    <div class="col-xs-4">
                        {% block three-columns-2 %} {% endblock %}
                    </div>
                    <div class="col-xs-4">
                        {% block three-columns-3 %} {% endblock %}
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="center-block">
                            {% block centerblock %} {% endblock %}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        {% block left-sidebar %} {% endblock %}
                    </div>
                    <div class="col-xs-8">
                        {% block left-sidebar-content %} {% endblock %}
                    </div>
                    <div class="col-xs-8">
                        {% block right-sidebar-content %} {% endblock %}
                    </div>
                    <div class="col-xs-4">
                        {% block right-sidebar %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Content-->
    <script src="{% static 'jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'custom/js/myjs.js' %}"></script>

    <script src="{% static 'data-tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'data-tables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'data-tables/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'data-tables/js/jszip.min.js' %}"></script>
    <script src="{% static 'data-tables/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'data-tables/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'data-tables/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'data-tables/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'data-tables/js/dataTables.responsive.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    
    <script>

    $(document).ready(function() {
        // load jQuery
    });

    </script>
    {% block custom_js %} {% endblock %}
</body>

</html>
