{% extends 'base.html' %}{% load humanize %} {% block custom_css %}
<style type="text/css">
</style>
{% endblock %} {% block content %}
<div class="row-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-heading">
                                {% ifequal request.user.user_type 'Customer' %}
                                <strong>Customers - Applied Loan offers</strong>
                                {% endifequal %}
                                {% ifequal request.user.user_type 'Admin' %}
                                <strong>Approve Customer Loan offers</strong>
                                {% endifequal %}
                            </div>
                            {% ifequal request.user.user_type 'Customer' %}
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Tenure</th>
                                        <th>Interest</th>
                                        <th>Offer Amount</th>
                                        <th>Application Date</th>
                                        <th>Action Date</th>
                                        <th>Acted By</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for offer in loan_offers %}
                                    <tr>
                                        <td>{{offer.product.name}}</td>
                                        <td>{{offer.product.tenure|floatformat:"-0"}} days</td>
                                        <td>{{offer.product.interest|floatformat:"-2"}}%</td>
                                        <td>KES {{offer.offer_amount|floatformat:"-2"|intcomma}}</td>
                                        <td>{{offer.application_date}}</td>
                                        <td>{{offer.approved_date}}</td>
                                        <td>{{offer.approved_by}}</td>
                                        <td id='status_{{offer.id}}'>{{offer.status}}</td>
                                        <td>
                                            {% ifequal offer.status 'Awaiting Approval' %}
                                            <button class="btn btn-default btn-cancel-offer" offer="{{offer.id}}">Cancel Request</button>
                                            {% endifequal %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endifequal %}
                            {% ifequal request.user.user_type 'Admin' %}
                            <table class="table table-striped" id="tbl-lab-view">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Product</th>
                                        <th>Offer Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for offer in loan_offers %}
                                    <tr>
                                        <td>{{offer.user.first_name}}</td>
                                        <td>{{offer.user.last_name}}</td>
                                        <td>{{offer.user.email}}</td>
                                        <td>{{offer.product.name}}</td>
                                        <td>KES {{offer.offer_amount|floatformat:"-2"|intcomma}}</td>
                                        <td>{{offer.application_date}}</td>
                                        <td>{{offer.status}}</td>
                                        <td><button class="btn btn-default btn-approve-offer" offer="{{offer.id}}">Approve Offer</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            </div>
            {% ifequal request.user.user_type 'Customer' %}
            <div class="row-fluid">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <a href="/customers/ask-offer/"><button class="btn btn-default col-md-12">Request for offer</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <a href="/customer/wallet/">
                            <button class="btn btn-default col-md-12">My Wallet</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- show graphs -->
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <a href="/customer/notifications/">
                                <button class="btn btn-default col-md-12">Notifications</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endifequal %}
        </div>
    </div>
</div>
{% endblock content %} {% block custom_js %}
<script type="text/javascript">
$(document).ready(function() {
    $('.btn-cancel-offer').on('click', function(e) {
        let self = $(this);
        let offer = self.attr('offer');

        $.confirm({
            title: 'Cancelling Offer Request',
            content: 'You are about to cancel an offer request an offer, are you sure you want to continue?',
            buttons: {
                cancel: function() {
                    //do nothing
                },
                okay: {
                    text: 'Yes',
                    action: function(e) {
                        $.confirm({
                            content: function() {
                                var btn = this;
                                return $.ajax({
                                    url: '/customers/cancel-offer/',
                                    dataType: 'json',
                                    data: {
                                        "offer": offer,
                                        "csrfmiddlewaretoken": "{{csrf_token}}"
                                    },
                                    method: 'post'
                                }).done(function(response) {
                                    if (response.status) {
                                        $('#status_' + offer).html("Cancelled");
                                        btn.setContent(response.message);
                                        btn.setTitle("Success");
                                        self.hide();

                                    } else {
                                        btn.setContent(response.message)
                                        btn.setTitle("Failed")
                                    }
                                }).fail(function(xhr, error, status) {
                                    console.log('error');
                                    // self.setContent(error);
                                });
                            }
                        });
                    }
                }
            }
        });
    });


    // Approve loan offers 
    $('.btn-approve-offer').on('click', function(e) {
        let self = $(this);
        let offer = self.attr('offer');

        $.confirm({
            title: 'Approving Offer',
            content: 'You are about to approve an offer, are you sure you want to continue?',
            buttons: {
                cancel: function() {},
                reject: function() {
                    $.confirm({
                        content: function() {
                            var btn = this;
                            return $.ajax({
                                url: '/customers/approve-offer/',
                                dataType: 'json',
                                data: {
                                    "offer": offer,
                                    "status": 'rejected',
                                    "csrfmiddlewaretoken": "{{csrf_token}}"
                                },
                                method: 'post'
                            }).done(function(response) {
                                if (response.status) {
                                    btn.setContent(response.message);
                                    btn.setTitle("Rejected");
                                    self.html('Rejected');
                                } else {
                                    btn.setContent(response.message)
                                    btn.setTitle("Failed")
                                }
                            }).fail(function(xhr, error, status) {
                                console.log('error');
                                // self.setContent(error);
                            });
                        }
                    });
                },
                okay: {
                    text: 'Approve',
                    action: function(e) {
                        $.confirm({
                            content: function() {
                                var btn = this;
                                return $.ajax({
                                    url: '/customers/approve-offer/',
                                    dataType: 'json',
                                    data: {
                                        "offer": offer,
                                        "status": 'approved',
                                        "csrfmiddlewaretoken": "{{csrf_token}}"
                                    },
                                    method: 'post'
                                }).done(function(response) {
                                    if (response.status) {
                                        btn.setContent(response.message);
                                        btn.setTitle("Success");
                                        self.html('Approved');
                                    } else {
                                        btn.setContent(response.message)
                                        btn.setTitle("Failed")
                                    }
                                }).fail(function(xhr, error, status) {
                                    console.log('error');
                                    // self.setContent(error);
                                });
                            }
                        });
                    }
                }
            }
        });
    });


    // Set loan limit 
    $('.btn-set-loan-limit-').on('click', function(e) {
        let self = $(this);
        let offer = self.attr('offer');

        $.confirm({
            title: 'Set Loan Limit for Customer',
            content: 'You are about to approve an offer, are you sure you want to continue?',
            buttons: {
                cancel: function() {},
                reject: function() {
                    $.confirm({
                        content: function() {
                            var btn = this;
                            return $.ajax({
                                url: '/customers/approve-offer/',
                                dataType: 'json',
                                data: {
                                    "offer": offer,
                                    "status": 'rejected',
                                    "csrfmiddlewaretoken": "{{csrf_token}}"
                                },
                                method: 'post'
                            }).done(function(response) {
                                if (response.status) {
                                    btn.setContent(response.message);
                                    btn.setTitle("Rejected");
                                    self.html('Rejected');
                                } else {
                                    btn.setContent(response.message)
                                    btn.setTitle("Failed")
                                }
                            }).fail(function(xhr, error, status) {
                                console.log('error');
                                // self.setContent(error);
                            });
                        }
                    });
                },
                okay: {
                    text: 'Approve',
                    action: function(e) {
                        $.confirm({
                            content: function() {
                                var btn = this;
                                return $.ajax({
                                    url: '/customers/approve-offer/',
                                    dataType: 'json',
                                    data: {
                                        "offer": offer,
                                        "status": 'approved',
                                        "csrfmiddlewaretoken": "{{csrf_token}}"
                                    },
                                    method: 'post'
                                }).done(function(response) {
                                    if (response.status) {
                                        btn.setContent(response.message);
                                        btn.setTitle("Success");
                                        self.html('Approved');
                                    } else {
                                        btn.setContent(response.message)
                                        btn.setTitle("Failed")
                                    }
                                }).fail(function(xhr, error, status) {
                                    console.log('error');
                                    // self.setContent(error);
                                });
                            }
                        });
                    }
                }
            }
        });
    });
});
</script>
{% endblock %}