<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lending</title>
    <meta name="description" content="description">
    <meta name="author" content="Evgeniya">
    <meta name="keyword" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="{% static 'custom/css/login.css' %}" rel="stylesheet">
    <link href="{% static 'custom/css/mystyle.css' %}" rel="stylesheet">
    <style type="text/css">
        input {
            display: block;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="box">
                    <div class="box-content">
                        <div class="text-center">
                            <h3 class="page-header">Lending Login</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Login</button>
                            {% if not next %}
                            <input type="hidden" name="next" value="/" />
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>